#########################
# openFrameworks patterns
#########################

# build files
openFrameworks.a
openFrameworksDebug.a
openFrameworksUniversal.a
libsopenFrameworksCompiledlib
!libsopenFrameworksCompiledlib.gitkeep

# apothecary
scriptsapothecary

# rule to avoid non-official addons going into git
# see addons.gitignore
addons

# rule to avoid non-official apps going into git
# see apps.gitignore
# apps

# rule to ignore compiled  downloaded libs
libs
!libsopenFrameworks
!libsopenFrameworksCompiled

# also, see examples.gitignore

#########################
# general
#########################

[Bb]uild
[Oo]bj
.o
examples[Dd]ebug
examples[Rr]elease
examplesgcc-debug
examplesgcc-release
tests[Dd]ebug
tests[Rr]elease
testsgcc-debug
testsgcc-release
.mode
.app
.pyc
.svn
.log
.cpp.eep
.cpp.elf
.cpp.hex

#########################
# IDE
#########################

# XCode
.pbxuser
.perspective
.perspectivev3
.mode1v3
.mode2v3
# XCode 4
xcuserdata
.xcworkspace

# CodeBlocks
.depend
.layout

# Visual Studio
.sdf
.opensdf
.suo
.pdb
.ilk
.aps
ipch

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Android Studio
.idea
.gradle
gradle
gradlew
gradlew.bat

# QtCreator
.qbs.user
.pro.user
.pri


#########################
# operating system
#########################

# Linux
~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
.swp
~.nib
# Thumbnails
._
examplesiosmediaAssets

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
libsopenFrameworksCompiledprojectandroidpaths.make

# Android Studio
.iml

#########################
# miscellaneous
#########################

.mailmap
apps
projectGenerator
addons.make
.vs/ShaderPractice/v16/Browse.VC.db
.vs/ShaderPractice/v16/Browse.VC.db-shm
.vs/ShaderPractice/v16/Browse.VC.db-wal
.vs/ShaderPractice/v16/Browse.VC.opendb
.vs/ShaderPractice/v16/Solution.VC.db
.vs/ShaderPractice/v16/Solution.VC.db-shm
.vs/ShaderPractice/v16/Solution.VC.db-wal
bin/fmodex.dll
bin/fmodexL.dll
bin/FreeImage.dll
bin/ShaderPractice_debug.exe
bin/ShaderPractice_debug.exp
bin/ShaderPractice_debug.lib
bin/ShaderPractice_debug.pdb
bin/data/.gitkeep
